body {

    background-color: #4488AA;
    color:  #99EEEE;
    font-size: 16px; 
    font-family: "Stoke", "Lucida", "Liberation";
    }

    a:link { color:#FFFFFF;}
    a:visited { color:#99EEEE;}

header {
    display:block;
    margin-bottom: 1px;
}

nav {
    display:block;
    width: 20%;
    float: left;
}

section {
    display:block;
    width: 70%;
    float: right;
}
    
.ender {
    float: right;
    text-align: right;
    line-height: 140%;
    font-size: 15px;  
    font-family: "Karla", "Verdana", "Ubuntu"; 
}

img.imgLogo {
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: 6px;
    padding-bottom: 15px;
}
   
div.apres {
    text-align: center;
    font-size: 18px;
}

nav ul {
    color: #FFFFFF;
    line-height: 230%;
    margin-top: 40px;
    list-style-image: url("assets/BrilhoMark.png");
    font-size: 20px;
    font-family: "Karla", "Verdana", "Ubuntu";
}

/*tipos*/

.listaTipos {
    color: #FFFFFF;
    padding: 10px 10px 10px 50px;
    line-height: 180%;   
}

.listaTipos ul {
    color: #99FFFF;
    list-style-type:disc;
}

.tabInfo {
    border-collapse: collapse;
    margin-top: 6px;
    background-color: #FFFFFF;
    color: #000066;
    font-family: "Karla", "Verdana", "Ubuntu";
}

.tabInfo td, .tabInfo th {
    border: 3px solid #226699;
    padding: 6px 12px 6px 12px;
}

.linTH {
    color: #FFFFFF;
    background-color: #22BB66;
    vertical-align: middle;
    text-align: center;    
}

/*estoque*/

.tabInfo .colTH {
    color: #FFFFFF;
    background-color: #0066DD;
    text-align: left;   
}

.tabInfo .preco {
    color: #CC0000;
}

/*cadastro*/

.id {
    text-align: left;
}

.table {
    background-color: #0066DD;
    text-align: center;
}

fieldset {
    background-color: #0066DD;
    margin: 20px 20px 35px 20px;
}

.fsLinha {
    width: 490px;
    margin-bottom: 10px;
}
.colPri {
    float: left;
    width: 90px;
    display: block;
}

.elemDir {
float: right;
display:block;
}

.inpGrande { 
    width: 370px;
    border: none;
    border-radius: 5px;
}
.inpMedio { 
    width: 120px;
    border: none;
    border-radius: 5px;
}
.numDD { 
    width:30px;
    border: none;
    border-radius: 5px;
}
.numQD { 
    width:50px;
    border: none;
    border-radius: 5px;
}
    
.fsEsq {
    float: left;
    text-align: center;
    width: 210px;
}

.fsDir {
    float: right;
    text-align: center;
    width: 210px;
}

.botoes {  
    position: absolute;
    right:40px;
    text-align: left;
    float: left;
    bottom: 80px;
}

/*Compras*/

.fsEsqCompras {
    float: left;
    display: inline;
    }
    .fsDirCompras {
    float: right;
    display: inline;
    }
    .linhaCompras {
    width: 500px;
    margin-bottom: 6px;
    }
    .colPriCompras {
    float: left;
    width: 86px;
    display: block;
    }
    .inpEmail { width: 200px; }